.navbar {
	border-radius: 0 !important;
	background-color:0 !important;
	border: 0 !important;
	margin: -10px -15px 10px -15px;
	padding:0 !important;
	min-height: 0 !important
}

.navbar-nav>li>a {
     padding-top: 0 !important; 
     padding-bottom: 0 !important; 
}

.navbar-default .navbar-nav>li>a:hover {
	background-color: #D0D0D0;
}